<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Oops, this item was not found!</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movie">Home Page</a>
    </div>
</div>